.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
//   background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  background-color: rgba(17, 51, 83, 0.6);
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  margin-top: 20px;
}

.order-form-container {
    background: white;
    width: 370px;
    min-height: 496px;
    box-sizing: border-box;
    color: rgba(17, 51, 83, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 20px 20px 20px;
    border-radius: 5px;
    position: relative;
}

.tabs {
    display: flex;
    justify-content: space-around;
    cursor: default;
    font-size: 18px;
    margin: 5px;
    min-height: 64px;
    font-weight: 500;
}

.sell-tab, .buy-tab {
    display: flex;
    align-items: center;
}

.sell-tab:hover, .buy-tab:hover {
    color: rgb(22, 82, 240)
}

.order-form {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 0px;
    padding-top: 38px;
    flex: 1 0 0%;
}

.amt-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.amt-float {
    width: 40px;
    font-size: 62px;
    max-width: 100%;
}

.dollar-sign {
    line-height: 1.5;
    font-size: 31px
}

.modal-options {
    margin-bottom: 5px;
}

.opt-selectors {
    flex-direction: column;
    display: flex;
    margin-bottom: 16px;
    border-color: rgb(236, 239, 241);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
}

.curr-selector {
    display: flex;
    cursor: pointer;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    padding: 16px;
}

.pmnt-method {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    padding: 16px;
    border-top: 1px solid rgb(236, 239, 241);
}

.txn-btn {
    position: relative;
    width: 100%;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 16px;
    background-color: rgb(22, 82, 240);
    margin: 0px;
    border-radius: 4px;
    transition: all 80ms ease-in-out 0s;
    padding: 24px;
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(22, 82, 240);
    border-image: initial;
    display: flex;
    justify-content: center;
}

.order-done-btn {
    position: relative;
    width: 100%;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 16px;
    margin: 0px;
    border-radius: 4px;
    transition: all 80ms ease-in-out 0s;
    padding: 24px;
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(22, 82, 240);
    border-image: initial;
    display: flex;
    justify-content: center;
}

.order-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.balance-conversion {
    display: flex;
}

.balance-usd {
    margin-left: 5px;
}

.order-logo {
    width: 24px;
}

.order-action {
    width: 30%;
}

.selected-curr {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.curr-name {
    margin-left: 8px;
}

.pmnt-method-wallet {
    width: 70%;
    display: flex;
    justify-content: flex-start;
}

.pmnt-method-type {
    width: 30%
}


