.navbar-signed-out {
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
    height: 42px;
    background: #1652f0;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar-signed-out a {
    display: block;
    color: rgba(255,255,255,.95);
    font-weight: 600;
    text-shadow: none;
    text-decoration: none;
    padding: 8px 10px;
    font-size: 16px;
    margin: 0 0 0 5px;
    border-radius: 2px;
}

.navbar-signed-out .link-home {
    flex: 2;
    margin-left: 15px;
}

.link-signup {
    border: 2px solid #fff
}

.nav-bar-container-1 {
    border-bottom: 1px solid rgb(236, 239, 241);
    height: 72px;
}

.navbar-signed-in {
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
    height: 42px;
    background: #1652f0;
    height: 72px;
    box-sizing: border-box;
    color: rgb(5, 15, 25);
    align-items: center;
    font-weight: 400;
}

.right-side {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 25px;
}

.left-side {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
}

.left-side a {
    display: flex;
    align-items: center;
    margin-right: 32px;
    -webkit-box-align: center;
}
.left-side a:hover {
    color: #1652f0;
}

.trade-btn {
    min-width: 120px;
    display: flex;
    justify-content: center;
    border: 1px white solid;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 0 10px 0 5px;
}

.mm-logo {
    width: 60px;
    background: white;
}
