.col-1-content {
  cursor: default;
  position: relative;
  width: 85px;
  padding: 14px 24px 14px 32px;
}

.col-2-content {
  cursor: pointer;
  min-width: 140px;
  padding: 14px 48px 14px 0px;
}

.col-3-content {
  cursor: default;
  width: 132px;
  padding: 14px 48px 14px 0px;
}

.col-4-content {
  cursor: default;
  width: 100px;
  margin-right: 20px;
  text-align: left;
  padding: 14px 2px 14px 0px;
}

.col-5-content {
  cursor: default;
  width: 100px;
  padding: 5px 25px 5px 0px;
}

.col-6-content {
  cursor: default;
  width: 70px;
  padding: 14px 48px 14px 0px;
  padding-right: 32px;
}

.col-2-content-inner {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row;
  flex: 1 1 auto;
}

.col-2-content-inner div {
  padding-left: 16px;
}

.buy-home {
  position: relative;
  width: auto;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 14px;
  background-color: rgb(5, 177, 105);
  margin: 0px;
  border-radius: 4px;
  transition: all 80ms ease-in-out 0s;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(5, 177, 105);
  border-image: initial;
  white-space: nowrap;
  padding: 12px 16px;
}

.trade-btn-index {
    min-width: 50px;
    display: flex;
    justify-content: center;
    border: 1px white solid;
    border-radius: 5px;
    padding: 12px 16px;
    background:#1652f0;
    color: white;
    font-weight: 600;
    cursor: pointer;
}